.SubtitleUploadPart {
  width: 90%;
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
  background-color: lightgoldenrodyellow;
  border: solid;
  border-color: brown;
  border-radius: 15px;
}
