.PlayBackRate {
  position: relative;
  width: 60px;
  .icon {
    background-image: url("./icons/speed.svg") !important; // This !important keyword is used because some styles inherited from Controls component have higher priority.
    display: block;
    margin: 0 auto;
  }
  .red-border-bottom {
    border-bottom: solid 2px red !important;
  }
  .rate-box {
    display: block;
    width: 150%;
    position: absolute;
    bottom: 100%;
    left: -25%;
    border-radius: 10px;
    button {
      background-color: black;
      display: block;
      width: 100%;
      color: white;
      border: none;
      font-size: 1.1rem;
      padding: 4px 0;
      opacity: 1;
      border-bottom: solid 1px white;
      &:hover {
        background-color: gray;
      }
      &:first-child {
        border-radius: 10px 10px 0 0;
      }
      &:last-child {
        border-radius: 0 0 10px 10px;
        border: none;
      }
    }
    .selected {
      background-color: grey;
    }
  }
  .hidden {
    display: none;
  }
}
